.planet-description {
    text-align: left;
    width: 53.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.planet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
